/* your styles go here */
/* Change navbar styling on scroll */
.navbar {
    transition: all 0.4s;
    box-shadow: none !important;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar.active {
    background: #ffffff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

/* Change section background */
section.hero-home::before {
    width: 100%;
    height: calc(100% + 12rem);
    background-color: orange;
}

.img-hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.text-hero {
    padding: 75px;
}

/* @media screen and (max-device-width: 981px) { */
@media (max-device-width: 981px) {

    .btn-center-custom {
        margin-top: 30px;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .text-center-custom {
        /* display: none; */
        text-align: center;
    }

    .navbar-collapse::after {
        height: 100%;

    }

    nav .navbar-nav {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100%;
        text-align: center !important;
        background: #fff !important;
        display: flex;
        justify-content: center;
        transition: top 1s ease !important;
        /* position: absolute; */
        /* flex-direction: column !important; */
    }

    .ok {
        position: absolute;
        top: 3.7%;
        right: 3.7%;
    }

    .navbar-toggler {
        border: none;
    }

    section.hero-home::before {
        /* position: fixed; */
        width: 100%;
        height: calc(100% + 12rem);
        background-color: orange;
    }

    .img {
        position: fixed;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .img-hero {
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .text-hero {
        text-size-adjust: 20px;
        top: 100px;
        margin-top: 200px;
        padding: 75px;
    }

    h1 {
        font-size: x-large;
    }

}