@use "../PageHome.scss";
@use "src/styles/abstracts/typo-mixins"as t;

@include PageHome.container {
    @include PageHome.title;

    .Portfolio {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 800px;
        margin-inline: auto;
    }

    .Button {
        width: fit-content;
        align-self: center;
    }

    .DataNotFound {
        @include t.heading-article;
    }
}