@use "src/styles/abstracts/typo-mixins"as t;
@use "src/styles/abstracts/variables"as v;
@use "src/styles/abstracts/mixins"as m;

.Wrapper {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 50px;

    @include m.mobile {
        padding-right: 20px;
        padding-left: 50px;
    }

    .Title {
        margin-block: 24px;
        @include t.title;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .Skills {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        .Img {
            width: 84px;
            height: 84px;
            padding: 10px;
            box-sizing: border-box;
            background-color: #f7f7f7;
            border: solid 2px v.$black;
            object-fit: contain;
        }
    }
}