@use "src/styles/abstracts/typo-mixins"as t;
@use "src/styles/abstracts/variables"as v;
@use "src/styles/abstracts/mixins"as m;
@use "../PageHome.scss";

@include PageHome.container {
    .Head {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        position: relative;

        .Iam {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 24px;
            color: v.$white;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6px;

            background: v.$black;
            transform: rotate(-90deg) translateY(-24px);

            flex: none;
            order: 0;
            flex-grow: 0;

            @include m.mobile {
                font-size: 24px;
                transform: rotate(-90deg) translateY(-16px);
            }
        }

        .WrapperNameRole {
            transform: translateX(-48px);

            @include m.mobile {
                transform: translateX(-32px);
            }
        }

        .Dicky {
            @include t.title;
            font-size: 32px;
            line-height: 1;
            letter-spacing: 0;
        }

        .Role {
            @include t.heading-page;
            line-height: 1;
            letter-spacing: 0;

            @include m.mobile {
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }

    .Body {
        p {
            @include t.body;
        }
    }

    .Cta {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}