@use "src/styles/abstracts/typo-mixins"as t;
@use "src/styles/abstracts/mixins"as m;

.Wrapper {
    padding-inline: 100px;
    gap: 10px;
    margin-block: 60px;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    transition: all 1s ease-in-out;
    animation: load-portfolio 1s normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &.Button {
        @include m.mobile {
            display: none;
        }
    }

    &.Select {
        display: none;

        @include m.mobile {
            display: flex;
        }
    }
}

.Portfolio {
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-block: 60px;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    transition: all 1s ease-in-out;
    animation: load-portfolio 1s normal;

    @include m.desktop {
        display: grid;
        grid-auto-flow: row dense;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: repeat(11, minmax(0, 1fr));
    }

    @include m.tablet {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-inline: 100px;
        margin-block: 60px;
    }

    @include m.mobile {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-right: 20px;
        padding-left: 50px;
        margin-block: 30px;
    }

}

@keyframes load-portfolio {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.DataNotFound {
    @include t.heading-article;
    padding-inline: 100px;
    gap: 30px;
    margin-block: 60px;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    transition: all 1s ease-in-out;
    animation: load-portfolio 1s normal;

    @include m.mobile {
        padding-inline: 50px 20px;
    }
}