/* 
* declare variable for color
*/
$black: var(--black);
$white: var(--white);

$neutral-100: #1F1F1F;
$neutral-75: #4B4B4B;
$neutral-50: #878787;
$neutral-30: #B7B7B7;
$neutral-10: #E9E9E9;

$mobile-down: 600px;
$mobile-up: 601px;
$tablet-down: 1024px;
$tablet-up: 1025px;
$laptop-down: 1366px;
$laptop-up: 1367px;
