/* 
* declare variable for color
*/
$black: var(--black);
$white: var(--white);

$mobile-down: 600px;
$mobile-up: 601px;
$tablet-down: 1024px;
$tablet-up: 1025px;
$laptop-down: 1366px;
$laptop-up: 1367px;
