@use "/src/assets/scss/base/mixin";

.portfolio {
  padding-inline: 100px;

  @include mixin.desktop {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  @include mixin.mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 20px;
    padding-left: 50px;
    margin-block: 30px;
  }

  @include mixin.tablet {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-inline: 100px;
    margin-block: 60px;
  }

  gap: 30px;
  margin-block: 60px;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  transition: all 1s ease-in-out;
  animation: load-portfolio 1s normal;
}

@keyframes load-portfolio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
