@use "/src/assets/scss/base/var";
@use "/src/assets/scss/base/typography";
@use "/src/assets/scss/base/mixin";

.wrapper {
  width: calc(100% - 12px);
  background: var.$white;
  border: 2px solid var.$black;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: 12px 12px 0 var.$black;

  @include mixin.mobile {
    flex-direction: column;
  }

  .img {
    width: 100%;
    max-width: 115px;
    height: 115px;
    border: solid 2px var.$black;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include mixin.mobile {
      flex-direction: column;
      max-width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    .title {
      @include typography.body;
      text-transform: uppercase;
      font-weight: 600;
    }

    .desc {
      @include typography.tag-article;
    }

    .attr {
      @include typography.tag-article;
      span {
        font-weight: 500;
      }
    }
  }
}
