@use "src/styles/abstracts/typo-mixins" as t;
@use "src/styles/abstracts/variables" as v;
@use "src/styles/abstracts/mixins" as m;

.TopMenu {
  display: flex;
  justify-content: space-between;
  z-index: 999;
  padding: 32px 40px;
  color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  color: v.$white;

  body[theme="dark-theme"] & {
    color: v.$black;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.01);

    body[theme="dark-theme"] & {
      background-color: rgba(0, 0, 0, 0.01);
    }
  }

  @include m.mobile {
    padding: 20px;
  }
}

.Title {
  @include t.title;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;

  @include m.mobile {
    letter-spacing: 0em;
  }
}

.MenuItems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;

  @media (max-width: 1024px) {
    gap: 20px;
  }

  @include m.mobile {
    transform: translateX(-100%);
    position: fixed;
    inset: 0;
    z-index: 19;
    background-color: v.$white;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
}

.MenuItem {
  @include t.menu;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  position: relative;

  @include m.mobile {
    color: v.$black;
  }

  &.Active {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
      width: calc(100% + 10px);
      background: v.$white;
      height: 2px;
      transition: width 0.3s ease-in-out;

      body[theme="dark-theme"] & {
        background: v.$black;
      }
    }
  }
}

.Divider {
  width: 2px;
  height: 100%;
  background-color: v.$white;

  body[theme="dark-theme"] & {
    background-color: v.$black;
  }

  @include m.mobile {
    display: none;
  }
}

.Attr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &__Item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: v.$white;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;

    @include m.mobile {
      color: v.$black;
    }

    body[theme="dark-theme"] & {
      color: v.$black;
    }
  }
}
