@use "/src/assets/scss/base/typography";
@use "/src/assets/scss/base/var";
@use "/src/assets/scss/base/mixin";

.title {
  @include typography.heading-page;
  margin: 0;
  color: var.$black;
  position: relative;
  display: inline;
  transition: all 0.5s ease-in-out;
  animation: load-title 0.5s normal;

  @include mixin.mobile {
    font-size: 28px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var.$black;

    @include mixin.mobile {
      top: 15px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var.$black;

    @include mixin.mobile {
      bottom: 15px;
    }
  }
}
@keyframes load-title {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
}
