@use "/src/assets/scss/base/mixin";
@use "/src/assets/scss/base/typography";

@mixin container {
  .container {
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-block: 60px;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    transition: all 1s ease-in-out;
    animation: load-article 1s normal;

    @include mixin.tablet {
      padding-inline: 72px 30px;
      gap: 24px;
    }

    @include mixin.mobile {
      padding-inline: 42px 16px;
      gap: 16px;
    }

    @include mixin.desktop {
      padding-block: 40px;
    }

    @content;
  }
}

@mixin title {
  .title {
    @include typography.title;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    align-self: center;

    @include mixin.desktop {
      font-size: 32px;
    }
  }
}
