@use "/src/assets/scss/base/var";
@use "/src/assets/scss/base/typography";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
  background-color: var.$black;
  width: 100%;
  margin-top: auto;
}

.footer {
  margin: 0;
  color: var.$white;
  @include typography.body;
}
