@use "/src/assets/scss/base/var";
@use "/src/assets/scss/base/typography";
@use "/src/assets/scss/base/mixin";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
  background-color: var.$black;
  width: 100%;
  margin-top: auto;

  @include mixin.mobile {
    padding-bottom: 48px;
  }
}

.footer {
  margin: 0;
  color: var.$white;
  @include typography.body;

  @include mixin.mobile {
    text-align: center;
  }
}
