@use "/src/assets/scss/base/typography";
@use "/src/assets/scss/base/var";
@use "/src/assets/scss/base/mixin";

%role_placeholder {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 30px;
  mix-blend-mode: difference;
  color: var.$white;
  z-index: 2;
}
.role {
  @extend %role_placeholder;
  justify-content: center;
  text-transform: uppercase;
}
.role-end {
  @extend %role_placeholder;
  justify-content: flex-end;
  @include mixin.tablet {
    padding: 20px 30px;
  }
  @include mixin.mobile {
    justify-content: center;
  }

  .role-title {
    @include typography.role-end;
    text-transform: uppercase;

    @include mixin.tablet {
      font-size: 16px;
      letter-spacing: 0.2em;
    }
    @include mixin.mobile {
      font-size: 16px;
      letter-spacing: 0.2em;
    }
  }
}

.role-title {
  @include typography.role;
  color: var.$white;

  @include mixin.mobile {
    font-size: 16px;
    letter-spacing: 0.2em;
  }
}
