@use "/src/assets/scss/base/var";
@use "/src/assets/scss/base/mixin";
@use "/src/assets/scss/base/typography";
@use "../Home.scss";

@include Home.container {
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: relative;

    .iam {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 24px;
      color: var.$white;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px;

      background: var.$black;
      transform: rotate(-90deg) translateY(-24px);

      flex: none;
      order: 0;
      flex-grow: 0;

      @include mixin.mobile {
        font-size: 24px;
        transform: rotate(-90deg) translateY(-16px);
      }
    }

    .wrapperNameRole {
      transform: translateX(-48px);

      @include mixin.mobile {
        transform: translateX(-32px);
      }
    }

    .dicky {
      @include typography.title;
      font-size: 32px;
      line-height: 1;
      letter-spacing: 0;
    }

    .role {
      @include typography.heading-page;
      line-height: 1;
      letter-spacing: 0;

      @include mixin.mobile {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }

  .body {
    p {
      @include typography.body;
    }
  }

  .cta {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
