@use "/src/assets/scss/base/typography";
@use "/src/assets/scss/base/var";
@use "/src/assets/scss/base/mixin";

.wrapper {
  max-width: 600px;
  width: 100%;
  margin-inline: auto;

  @include mixin.mobile {
    padding-right: 20px;
    padding-left: 50px;
  }

  .title {
    margin-block: 24px;
    @include typography.title;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    .img {
      width: 84px;
      height: 84px;
      padding: 10px;
      box-sizing: border-box;
      background-color: #dfdfdf;
      border: solid 2px var.$black;
      object-fit: contain;
    }
  }
}
