@use "src/styles/abstracts/variables" as v;
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  margin: 0;
  color: v.$black;
  background-color: v.$white;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
span {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
