@use "src/styles/abstracts/typo-mixins"as t;
@use "src/styles/abstracts/variables"as v;
@use "src/styles/abstracts/mixins"as m;

.card {
    display: flex;
    gap: 30px;
    align-items: center;

    @include m.desktop {
        &.model-1 {
            grid-row: span 1 / span 1;
            grid-column: span 7 / span 7;
        }

        &.model-2 {
            grid-row: span 2 / span 2;
            grid-column: span 4 / span 4;

            flex-direction: column;
        }

        &.model-3 {
            grid-row: span 1 / span 1;
            grid-column: span 7 / span 7;
            flex-direction: row-reverse;
        }
    }

    @include m.mobile {
        gap: 15px;
        flex-direction: column;
    }
}

.content {
    display: flex;
    flex-direction: column;

    @include m.desktop {
        .model-2 & {
            width: 80%;
        }
    }
}

.img {
    max-width: 365px;
    width: 100%;
    height: 185px;
    background-color: v.$white;
    border: 2px solid v.$black;
    position: relative;

    @include m.desktop {
        min-width: 365px;
    }

    @include m.tablet {
        max-width: 285px;
        min-width: 285px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
    }

    &::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 80%;
        z-index: -1;
        background-color: v.$black;
    }

    @include m.mobile {
        max-width: 282px;
        width: 100%;
        height: 146px;

        &::before {
            top: -12px;
            left: -12px;
            width: 100%;
            height: 100%;
        }
    }

    @include m.tablet {
        max-width: 282px;
        width: 100%;
        height: 146px;

        &::before {
            top: -12px;
            left: -12px;
            width: 100%;
            height: 100%;
        }
    }

    @include m.desktop {
        .model-1 & {
            &::before {
                top: 50%;
                transform: translateY(-50%);
                right: -12px;
            }
        }

        .model-2 & {
            &::before {
                left: 50%;
                transform: translateX(-50%);
                bottom: -12px;
            }
        }

        .model-3 & {
            &::before {
                top: 50%;
                transform: translateY(-50%);
                left: -12px;
            }
        }
    }
}

.title {
    @include t.heading-article;
    text-decoration: none;
    color: v.$black;
    text-transform: uppercase;
}

.desc {
    @include t.tag-article;
    margin-bottom: 15px;
}

.tech {
    @include t.tag-article;
    font-weight: 500;
    margin-bottom: 15px;
}